body
{
  background-color: rgb(73, 64, 104);
  color:#c8c7c7;
}

.content
{
  background-color: rgb(73, 64, 104)
}
.header
{
  width: 100%;

  background-color: rgb(58, 7, 93);

  text-align: center;
}
.div_text_center
{
  display: inline-block;
}
.side_content
{
  width: 100%;
  background-color: rgb(58, 7, 93);
  
  text-align: center;
}
.menu
{
  padding-left: 10%;
  padding-right: 10%;

  display: inline-block;
}
hr
{
  background-color: #381441;
}
.menu_link
{
  background-color: rgb(25, 10, 60);
  border-radius: 15%;
  color: rgb(101, 89, 195);
  text-decoration: none;
}
.menu_link:visited
{
  background-color: rgb(25, 10, 60);
  color: rgb(101, 89, 195);
  font-size: large;
  text-decoration: none;
}
.other_link
{
  color: rgb(101, 89, 195);
  text-decoration: dotted;
  font-style: oblique 2deg;
}
.other_link:visited
{
  color: rgb(101, 89, 195);
  text-decoration: dotted;
  font-style: oblique 2deg;
}
.holder
{
  width: 100%;
  background-color: rgb(58, 7, 93);
}
.main_content
{
  padding-top: 5%;

  padding-left: 10%;
  padding-right: 10%;
}
