:root
{
  --backgroundColor: rgb(73, 64, 104);
  --alternativeBackgroundColor: rgb(58, 7, 93);
  --menuBackgroundColor: rgb(28, 14, 60);
  --textColor: rgb(169, 171, 187);

  --mainFont: 'Franklin Gothic Medium';
  --altFont: Arial;
} 

body
{
  background-color: var(--backgroundColor);
  color: var(--textColor);

  font-family: var(--mainFont), var(--altFont), sans-serif;
}

.holder
{
  background-color: var(--alternativeBackgroundColor);
}

.main_content
{
  padding-top: 2%;

  padding-left: 10%;
  padding-right: 10%;

  padding-bottom: 5%;
}

.content
{
  background-color: var(--backgroundColor);
}
.header
{
  background-color: var(--alternativeBackgroundColor);
  text-align: center;
}

.side_content
{
  background-color: var(--alternativeBackgroundColor);
  text-align: center;
  padding-top: 1%;

}
.menu, .div_text_center
{
  display: inline-block;
}

hr
{
  border-color: #706174;
  height: 1px;
}
.menu_link
{
  background-color: var(--menuBackgroundColor);
  color: rgb(101, 89, 195);
  text-decoration: none;

  border-radius: 5%;
  border: 2px solid var(--menuBackgroundColor);
}

.other_link
{
  color: rgb(101, 89, 195);
  text-decoration: underline dotted;
}

figcaption
{
  font-size: 0.8em;

  font-style: italic;
  text-align: center;
}

img
{
  display: block;

  margin-left: auto;
  margin-right: auto;

  width: 50%;

  border: 4px solid var(--menuBackgroundColor);
}

.image-table-element
{
  width: 100%;
  height: 200px;

  display: inline-block;
}