html
{
  background-color: White
}
.side_menu
{
  
  height: 100%; /* 100% Full-height */
  width: 15%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  background-color: DarkOrange; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20%;
  padding-left: 5%;
}
.main_content
{
  background-color: Orange;
  padding-top: 20%;
  padding-left: 20%;
}
