html
{
  background-color: LemonChiffon
}
.holder
{
  padding-left: 5%;
  padding-top: 20%;
  background-color: Orange;
}
.side_content
{
  
  height: 100%; /* 100% Full-height */
  width: 15%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  background-color: DarkOrange; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20%;
  padding-left: 10%;
}
.main_content
{
  padding-top: 20%;
  padding-left: 25%;
}
