.content
{
  background-color: LemonChiffon
}
.header
{
  width: 100%;

  background-color: DarkOrange;

  text-align: center;
}
.div_text_center
{
  display: inline-block;
}
.holder
{
  background-color: Orange;
}
.side_content
{
  width: 100%;
  background-color: DarkOrange;
}
.menu
{
  padding-left: 10%;
}
.menu_link
{
  background-color: #E57200;
  color: #282828;
  font-style: normal;
}
.menu_link:visited
{
  background-color: #E57200;
  color: #282828;
  font-style: normal;
}
.main_content
{
  padding-top: 5%;
  padding-right: 5%;
}
