.content {
    margin: auto;
    width: 960px;
    background-color: slateblue;
}

.maindiv {
    background-color: white;
}

.buttondiv {
    background-color: lavender;
}

.resultdiv {
    background-color: white;
}
